* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 6.25%;

  /* font-family: 'DM Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */
}

body {
  background: linear-gradient(287.56deg, hsl(199, 88%, 87%) 0%, hsl(217, 96%, 81%) 100%);

  font-family: DM Sans, sans-serif;

  height: 100vh;

  display: grid;
  place-items: center;
}

main {
  background-color: #FFF;

  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 428rem;
}

.test-page,
.result-page {
  display: grid;
  place-items: center;
}

.text-test {
  margin: 48rem 0;

  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.text-test h1 {
  font-family: Montserrat, sans-serif;
  font-weight: semibold;
  font-size: 24rem;
  color: hsl(238, 27%, 28%);
}

.text-test p {
  font-family: DM Sans, sans-serif;
  font-size: 16rem;
  line-height: 150%;
  color: hsla(238, 27%, 28%, 0.8);
  text-align: center;
}

form {
  display: flex;
}

.btn-test {
  background-color: #DCE2E9;

  margin-bottom: 64rem;
  border-radius: 4px 0 0 4px;

  max-width: 125rem;
}


.btn-test input {
  font-size: 16rem;
  font-family: DM Sans, sans-serif;
}

.btn-test form :first-child {
  background-color: #DCE2E9;

  text-align: center;
  color: hsl(238, 27%, 28%);

  padding: 10rem;
  border: none;
  border-radius: 4px 0 0 4px;

  max-width: 43rem;
}

input:focus {
  outline: none;
}

.btn-test form :first-child::-webkit-outer-spin-button,
.btn-test form :first-child::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-test form :last-child {
  background-color: #7879F1;
  color: #FFF;

  padding: 16rem;
  border: none;
  border-radius: 0 4px 4px 0;
  max-width: 82rem;
}

.btn-test form :last-child:hover {
  background-color: #3e3ef0;
}

.btn-test form :last-child:active {
  background-color: #3e3ef0c4;
}

.text-result h2 {
  font-family: DM Sans, sans-serif;
  font-size: 24rem;
  line-height: 150%;
  text-align: center;
  color: #34355B;

  margin: 48rem 64rem 33rem;
}

.btn-result {
  background-color: #7879F1;
  color: #FFF;

  padding: 16rem;
  margin-bottom: 64rem;
  border: none;
  border-radius: 4px;

  font-size: 16rem;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hide {
  display: none;
}